@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Poppins", sans-serif !important;
}
/* Font sizes */
.fs_12 {
  font-size: 12px;
}
.fs_14 {
  font-size: 14px;
}
.fs_16 {
  font-size: 16px;
}
.fs_18 {
  font-size: 18px;
}
.fs_20 {
  font-size: 20px;
}
.fs_22 {
  font-size: 22px;
}
.fs_26 {
  font-size: 26px;
}
/* Font Weights */
.fw_100 {
  font-weight: 100;
}
.fw_200 {
  font-weight: 200;
}
.fw_300 {
  font-weight: 300;
}
.fw_400 {
  font-weight: 400;
}
.fw_500 {
  font-weight: 500;
}
.fw_600 {
  font-weight: 600;
}
.fw_700 {
  font-weight: 700;
}
.fw_800 {
  font-weight: 800;
}
.fw_900 {
  font-weight: 900;
}

/* Colors */

.light {
  color: #fff;
}
.dark {
  color: #101828;
}
.light_gray {
  color: #475467;
}
.dark_gray {
  color: #344054;
}
.blue {
  color: #6941c6;
}
.red {
  color: #f04438;
}

/* Backgrounds */

.dark_bg {
  background-color: #1d2939;
}
.light_bg {
  background-color: #f9fafb;
}
.secondary-bg {
  background-color: #101828;
}

/* Form Styles */

.light_border {
  border: 1px solid #d0d5dd;
}
.warning_border {
  border: 1px solid #fda29b;
}

/* Navbar Style */
.sticky-nav {
  animation: sticky-nav 300ms;
}

@keyframes sticky-nav {
  0% {
    transform: translateY(-6em);
  }

  100% {
    transform: translateY(0);
  }
}
/* Text Stroke Effect */
.strokedText {
  color: transparent;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: white;
}
.strokeText{
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #f04438;
}
/* SVG Styles */
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: currentColor;
}
